version: "3.9"

services:
  web:
    build: .
    container_name: django
    env_file:
      - .env
    volumes:
      - .:/app
      - media:/app/media
    depends_on:
      - redis
      - db

  redis:
    image: redis:7
    container_name: redis

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: schoolswap
      POSTGRES_USER: schoolswap
      POSTGRES_PASSWORD: password
    volumes:
      - postgres:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - media:/media
    depends_on:
      - web

volumes:
  postgres:
  media: