@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
.container {
  @apply mx-auto px-4;
  max-width: 1100px;
}

html,
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}